<body>
  <header>
    <div class="row d-flex navbar-expand gx-0">
      <nav class="navbar navbar-light justify-content-evenly">
        <div class="logo">
          <img src="/public/images/logo.jpeg" height="80" width="180" />
        </div>
        <div class="logout">
          <a href="/logout"><button
              class="btn btn-primary"
              type="submit"
            >logout</button></a>
        </div>
        <div class="container-fluid">

        </div>
      </nav>
    </div>

  </header>
  <hr />
   <div class="img d-flex justify-content-center">

     <img
    src="https://img.freepik.com/premium-vector/internet-shop-concept-girl-make-order-shopping-vector-buyer-sale-internet-shopping-online-woman-buy-web-shop-illustration_461812-1062.jpg?w=2000"
     height="50%"
     width="50%"
  />
   </div>
 

</body>